
h1{
    font-family: 'Lusitana', serif;
    font-size: 1.9rem;
    padding-left: 20px;
}

/* bloc des documents */
.bloc_document{
    display: flex;
    justify-content: space-evenly;
    border: solid 1px black;
    padding-top: 19px;
    padding-bottom: 24px;
    width: 90%;
    border-radius: 10px;
    margin: auto;
}

.first_colonne, .second_colonne{
    display: flex;
    flex-direction: column;

}

.ligne{
    border: solid 1px black;
}

.lien_document{
    text-decoration: none;
    color: black;
    line-height: 27px;
}

.lien_document:hover {
    text-decoration: underline;
}


/* bloc des retard/absnece */









/* fin paragraphe */
.info{
    padding: 10px;
}




@media (max-width: 737px) {
    .bloc_document{
        flex-direction: column;
        align-items: center;
    }

    .ligne{
        display: none;
    }

    .first_colonne, .second_colonne{
    
        width: 288px;
    }
}

/*Partie ADMIN*/

form{
    margin-left: 15px;
}
input{
    width: 8rem;
}
main .bouton {
    border-radius: 4px;
    font-size: 1rem;
    background-color: white;
    font-family: 'Lexend Deca', sans-serif;
    margin: 0 15px;
    width: fit-content;
}
select{
    padding: 4px 10px;
    font-family: 'Lexend Deca', sans-serif;
    margin-bottom: 15px;
}